body {
    font-family: 'Open Sans', sans-serif;
    background: #0e0e0e;
}

.week-inner {
    position: relative;
    margin: 10px;
    padding: 5px 0;
    background: #1a1a1a;
    border: 1px solid #444444;
}

.week-number {
    position: absolute;
    right: 35px;
    font-weight: bold;
    line-height: 64px;
    font-size: 64px;
    color: #362b8c;
}

.week-date {
    position: absolute;
    top: 28px;
    right: -2px;
    font-weight: bold;
    font-size: 14px;
    color: #e32d30;
    transform: rotate(90deg);
}

.serie-line {
    padding: 2px 7px;
    line-height: 25px;
}

.serie-name {
    margin-right: 10px;
    display: inline-block;
    width: 60px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border-radius: 0px;
}

.track-name {
    font-size: 14px;
    color: #eeeeee;
    font-weight: bold;
}

@media print {
    @page { margin: 0; }

    body {
        background: none;
        margin: 3cm;
        zoom: 60%;
    }
}
